body{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Work Sans', sans-serif;
}
/*shaherd Styles*/
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-weight: normal;
    padding: 15px 30px;
    font-size: 20px;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.section-des{
    color: #757575;
    text-align: center;
    font-size: 18px;
}
/*shaherd Styles*/



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.text-primary{
    color: #FD6E0A;
}
.nav-title{
    font-size: 40px;
    font-weight: 800;
    color: #181818;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #000000;
}

.head{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 600px;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .back-pic{
    width: 400px;
}
.banner-content{
    max-width: 500px;
}
.banner-greeting{
    font-size: 35px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 45px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
/*main style*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
}
/*About Section*/
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0;
}
.info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
/* What can i do */
.section-descip{
    color: #757575;
    text-align: center;
    font-size: 18px;
    padding: 30px 150px;
}
/* Skills related style */
.skill-container{
    display: flex;
    gap: 40px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 10px 0px;
   

}

/* Resume Section */
.resume-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-container hr{
    margin: 30px;
}
.resume-item-ins{
    color: #757575;
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-item-desc{
    color: #757575;
    font-size: 18px;
}
.download-cav{
    text-align: center;
    margin-top: 45px;
}
/* Footer Styles */
footer{
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 100px;
}
.footer-column{
    width: 50%;
}
.social-links{
    margin-right: 30px;
    padding: 30px 0px;
}
.contact input[type="text"], 
textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    color: #fff;
    border: 0;
    width: 100%;
}